In [37]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Float, Integer
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

import sqlite3
import pandas as pd

## Database: offstreetcarpark  | Table: carpark

### $ sqlite3 offstreetcarpark.db

In [38]:
# Connect to offstreetparking database
conn = sqlite3.connect('./Resources/offstreetcarpark.db')

In [39]:
# Show the tables in the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('parking',)]

In [40]:
# Show first 5 rows of the table
cursor.execute("SELECT * FROM parking LIMIT 5;")
print(cursor.fetchall())

[(0, 2011, 912, 102432, 102432, '35 Degraves Street PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.9568, -37.79384), (1, 2011, 912, 102433, 102433, '37 Degraves Street PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.95673, -37.79384), (2, 2011, 912, 107328, 107328, '110 Park Drive PARKVILLE 3052', 'Parkville', 'Residential', 1, 144.95644, -37.793929999999996), (3, 2011, 913, 106769, 106769, '58 Morrah Street PARKVILLE 3052', 'Parkville', 'Residential', 1, 144.9555, -37.79525), (4, 2011, 913, 107340, 107340, '54-58 Park Drive PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.95533, -37.79513)]

In [41]:
# Drop the table if it already exists
cursor.execute("DROP TABLE IF EXISTS parking;")
conn.commit()

In [42]:
# Create new parking table
cursor.execute("CREATE TABLE parking(\
            id INT PRIMARY KEY  NOT NULL,\
            census_year INT,\
            block_id INT,\
            property_id INT,\
            base_property_id INT,\
            building_address CHAR(50),\
            clue_small_area CHAR(50),\
            parking_type CHAR(20),\
            parking_spaces INT,\
            longitude FLOAT,\
            latitude FLOAT\
            );")
conn.commit()

In [43]:
Base = declarative_base()
database_path = "./Resources/offstreetcarpark.db"
engine = create_engine(f"sqlite:///{database_path}")
Base.metadata.create_all(engine)

In [44]:
session = Session(bind=engine)
session

In [45]:

class Park(Base):
    __tablename__ = 'parking'
    id = Column(Integer(), primary_key=True)
    census_year = Column(Integer)
    block_id = Column(Integer)
    property_id = Column(Integer)
    base_property_id = Column(Integer)
    building_address = Column(String)
    clue_small_area = Column(String)
    parking_type = Column(String)
    parking_spaces = Column(Integer)
    longitude = Column(Float)
    latitude = Column(Float)

In [46]:
carpark = session.query(Park)

In [47]:
# Import csv file to DataFrame
carpark_df = pd.read_csv("./Resources/tbl_off_street_car_park.csv")

# Add id column
carpark_df['id'] = carpark_df.index

# Load data into parking table
carpark_df.to_sql(name='parking', con=engine, if_exists='append', index=False)

carpark_df.head()

,census_year,block_id,property_id,base_property_id,building_address,clue_small_area,parking_type,parking_spaces,longitude,latitude,id
0,2011,912,102432,102432,35 Degraves Street PARKVILLE 3052,Parkville,Residential,2,144.95680,-37.79384,0
1,2011,912,102433,102433,37 Degraves Street PARKVILLE 3052,Parkville,Residential,2,144.95673,-37.79384,1
2,2011,912,107328,107328,110 Park Drive PARKVILLE 3052,Parkville,Residential,1,144.95644,-37.79393,2
3,2011,913,106769,106769,58 Morrah Street PARKVILLE 3052,Parkville,Residential,1,144.95550,-37.79525,3
4,2011,913,107340,107340,54-58 Park Drive PARKVILLE 3052,Parkville,Residential,2,144.95533,-37.79513,4

In [48]:
carpark_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129657 entries, 0 to 129656
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   census_year       129657 non-null  int64
 1   block_id          129657 non-null  int64
 2   property_id       129657 non-null  int64
 3   base_property_id  129657 non-null  int64
 4   building_address  129657 non-null  object
 5   clue_small_area   129657 non-null  object
 6   parking_type      129657 non-null  object
 7   parking_spaces    129657 non-null  int64
 8   longitude         128573 non-null  float64
 9   latitude          128573 non-null  float64
 10  id                129657 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 10.9+ MB

In [49]:
# Show first 5 rows of the table
cursor.execute("SELECT * FROM parking LIMIT 5;")
print(cursor.fetchall())

[(0, 2011, 912, 102432, 102432, '35 Degraves Street PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.9568, -37.79384), (1, 2011, 912, 102433, 102433, '37 Degraves Street PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.95673, -37.79384), (2, 2011, 912, 107328, 107328, '110 Park Drive PARKVILLE 3052', 'Parkville', 'Residential', 1, 144.95644, -37.793929999999996), (3, 2011, 913, 106769, 106769, '58 Morrah Street PARKVILLE 3052', 'Parkville', 'Residential', 1, 144.9555, -37.79525), (4, 2011, 913, 107340, 107340, '54-58 Park Drive PARKVILLE 3052', 'Parkville', 'Residential', 2, 144.95533, -37.79513)]

In [50]:
session.close()

## Database: offstreetcarpark  | Table: business

 ### $sqlite3 businessestablishment.db

In [51]:
# Connect to offstreetparking database
conn = sqlite3.connect('./Resources/offstreetcarpark.db')

In [55]:
# Show the tables in the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('parking',), ('business',)]

In [56]:
# Show first 5 rows of the table
cursor.execute("SELECT * FROM business LIMIT 5;")
print(cursor.fetchall())

[]

In [57]:
# Drop the table if it already exists
cursor.execute("DROP TABLE IF EXISTS business;")
conn.commit()

In [58]:
# Create new parking table
cursor.execute("CREATE TABLE business(\
            id INT PRIMARY KEY  NOT NULL,\
            census_year INT,\
            block_id INT,\
            property_id INT,\
            base_property_id INT,\
            clue_small_area CHAR(50),\
            business_address CHAR(50),\
            trading_name CHAR(50),\
            industry_code INT,\
            industry_description CHAR(50),\
            longitude FLOAT,\
            latitude FLOAT\
            );")
conn.commit()

In [59]:
Base = declarative_base()
database_path = "./Resources/offstreetcarpark.db"
engine = create_engine(f"sqlite:///{database_path}")
Base.metadata.create_all(engine)

In [60]:
session = Session(bind=engine)
session

In [61]:
class Shop(Base):
    __tablename__ = 'business'
    id = Column(Integer(), primary_key=True)
    census_year = Column(Integer)
    block_id = Column(Integer)
    property_id = Column(Integer)
    base_property_id = Column(Integer)
    clue_small_area = Column(String)
    business_address = Column(String)
    trading_name = Column(String)
    industry_code = Column(Integer)
    industry_description = Column(String)
    longitude = Column(Float)
    latitude = Column(Float)

In [62]:
business = session.query(Shop)

In [63]:
# Import csv file to DataFrame
business_df = pd.read_csv("./Resources/tbl_business_establishments.csv")

# Add id column
business_df['id'] = business_df.index

# Load data into parking table
business_df.to_sql(name='business', con=engine, if_exists='append', index=False)

business_df.head()

,census_year,block_id,property_id,base_property_id,clue_small_area,business_address,trading_name,industry_code,industry_description,longitude,latitude,id
0,2021,1110,620308,593737,Docklands,Shop G15 109 Studio Lane DOCKLANDS VIC 3008,Vacant,0,Vacant Space,144.938,-37.81329,0
1,2021,1110,620308,593737,Docklands,Ground 6B Star Crescent DOCKLANDS VIC 3008,Vacant,0,Vacant Space,144.938,-37.81329,1
2,2021,1110,620308,593737,Docklands,Shop G03 4 Star Crescent DOCKLANDS VIC 3008,Sporting House,4251,Clothing Retailing,144.938,-37.81329,2
3,2021,1110,620308,593737,Docklands,Shop G14 111 Studio Lane DOCKLANDS VIC 3008,Vacant,0,Vacant Space,144.938,-37.81329,3
4,2021,1110,620308,593737,Docklands,Shop G11 119 Studio Lane DOCKLANDS VIC 3008,Vacant,0,Vacant Space,144.938,-37.81329,4

In [64]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354556 entries, 0 to 354555
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   census_year           354556 non-null  int64
 1   block_id              354556 non-null  int64
 2   property_id           354556 non-null  int64
 3   base_property_id      354556 non-null  int64
 4   clue_small_area       354556 non-null  object
 5   business_address      354555 non-null  object
 6   trading_name          354429 non-null  object
 7   industry_code         354556 non-null  int64
 8   industry_description  354556 non-null  object
 9   longitude             349770 non-null  float64
 10  latitude              349770 non-null  float64
 11  id                    354556 non-null  int64
dtypes: float64(2), int64(6), object(4)
memory usage: 32.5+ MB

In [65]:
# Show first 5 rows of the table
cursor.execute("SELECT * FROM business LIMIT 5;")
print(cursor.fetchall())

[(0, 2021, 1110, 620308, 593737, 'Docklands', 'Shop G15 109 Studio Lane DOCKLANDS VIC 3008', 'Vacant', 0, 'Vacant Space', 144.938, -37.81329), (1, 2021, 1110, 620308, 593737, 'Docklands', 'Ground 6B Star Crescent DOCKLANDS VIC 3008', 'Vacant', 0, 'Vacant Space', 144.938, -37.81329), (2, 2021, 1110, 620308, 593737, 'Docklands', 'Shop G03 4 Star Crescent DOCKLANDS VIC 3008', 'Sporting House', 4251, 'Clothing Retailing', 144.938, -37.81329), (3, 2021, 1110, 620308, 593737, 'Docklands', 'Shop G14 111 Studio Lane DOCKLANDS VIC 3008', 'Vacant', 0, 'Vacant Space', 144.938, -37.81329), (4, 2021, 1110, 620308, 593737, 'Docklands', 'Shop G11 119 Studio Lane DOCKLANDS VIC 3008', 'Vacant', 0, 'Vacant Space', 144.938, -37.81329)]

In [66]:
session.close()